# Xcode & Swift
.DS_Store
*/build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods (if you add later)
Pods/
*.xcworkspace

